@media screen and (max-width: 767px) {
    .client__title {
            @include font(36px, 700, 42px);
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--primary-text-color);
            margin-bottom: 50px;
        }
    
    .client__link {
            display: flex;
            width: 210px;
            height: 92px;
            justify-content: center;
            align-items: center;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
    
            transition-property: fill, border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                border: 1px solid #2196F3;
            }
        }
    
    .client__icon {
            fill: #AFB1B8;
    
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .client__link:hover &,
    .client__link:focus & {
                fill: #2196F3;
            }
        }

.client__item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}

}

/*===================================*/

@media screen and (min-width: 768px) {

.client__container {
    display: flex;
    justify-content: center;
}

.client__title {
        @include font(36px, 700, 42px);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
        margin-top: 60px;
        }

        
    .client__icon {
        fill: #AFB1B8;
        
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        .client__link:hover &,
        .client__link:focus & {
                    fill: #2196F3;
                }
            }
        
        
    .client__title {
        @include font(36px, 700, 42px);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
            }
        
    .client__item {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 60px;
            }
        
    .client__link {
        display: flex;
        width: 226px;
        height: 92px;
        justify-content: center;
        align-items: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        
        transition-property: fill, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            border: 1px solid #2196F3;
                }
        }
    
}

/*==================================*/
@media screen and (min-width: 1200px) {

    .client__item {
            display: flex;
            box-sizing: border-box;
            column-gap: 30px;
        }

        .client__list {

            display: flex;
            width: 170px;
            height: 92px;
            justify-content: center;
            align-items: center;

            &-icon {
                fill: #AFB1B8;
    
                transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
                .client__list-link:hover &,
                .client__list-link:focus & {
                    fill: #2196F3;
                }
    
            }
    
            &-link {
                border: 1px solid #AFB1B8;
                border-radius: 4px;
    
                transition-property: fill, border;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
                &:hover,
                &:focus {
                    border: 1px solid #2196F3;
                }
    
            }
        }
}