.footer {
    background: #2F303A;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    text-decoration: none;
}

.web-footer {
    @include font(26px, 700, 31px);
    color: #2196F3;
    letter-spacing: 0.03em;
}

.studio-footer {
    @include font(26px, 700, 31px);
    color: #FFFFFF;
    letter-spacing: 0.03em;
}