.page-header {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #ECECEC
}

.page-header_container {
    display: flex;
    align-items: baseline;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 2 * 30px) / 3);
}


.logo {
    color: #2196F3;
    font-family: Raleway, bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.web {
    color: #2196F3;
}

.studio {
    color: #212121;
}

.page-header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-mail-icon {
    fill: #757575;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-header:hover .header-mail-icon {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.mail-header:focus .header-mail-icon {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.mail-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-text-color);
    text-align: center;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: var(--accent-color);
    }
}


.header-tel-icon {
    fill: #757575;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
        fill: var(--accent-color);
    }

.tel-header:hover &,
.tel-header:focus & {
    fill: var(--accent-color);
    color: var(--accent-color);
}
}



.tel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-text-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: var(--accent-color);
    }
}

.cursor {
    cursor: pointer;
}