@media screen and (max-width: 767px) {
    .button-primery {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 200px;
            margin: 0 auto;
            padding: 10px 24px;
            border-radius: 4px;
            border: none;
            color: #FFFFFF;
            background: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    
            transition-property: background;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                color: #FFFFFF;
                background: #188CE8;
            }
        }
}


@media screen and (min-width: 768px) {

.button-primery {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 200px;
        margin: 0 auto;
        padding: 10px 24px;
        border-radius: 4px;
        border: none;
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


        transition-property: background;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: #FFFFFF;
            background: #188CE8;
        }
    }
}

@media screen and (min-width: 1200px) {

.button-primery {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 216px;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: #FFFFFF;
    background: #188CE8;
    }
}
}