@media screen and (max-width: 767px) {
    .whot-we-do {
    display: none;}
}

@media screen and (min-width: 768px) {
    .whot-we-do {
    display: none;}
}

@media screen and (min-width: 1200px) {

.whot-we-do {

    display: flex;
    padding-top: 47px;
}

.h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.whot-we-do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.whot-we-do-list {
    display: flex;
    column-gap: 30px;
}

.whot-we-do-item {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.whot-we-do-overlay-relative {
    position: relative;
}

.whot-we-do-overlay {
    position: absolute;
    height: 70px;
    width: 370px;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
}

.whot-we-do-overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
}
}