@media screen and (max-width: 767px) {

    .modal {
            position: absolute;
            width: 100%;
            height: 100%;

            max-width: 450px;
            max-height: 609px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
            overflow: auto;
    
            background: #FFFFFF;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
    
            padding: 40px;
    
            transition-property: transform;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-caption {
    
            font-weight: 700;
            font-size: 20px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin-bottom: 12px;
        }
    
        .modal-form {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            cursor: pointer;
        }
    
    
        .modal-form-field-desc {
            display: block;
            font-size: 12px;
            color: #757575;
            margin-bottom: 4px;
        }
    
        .modal-form-input-wrapper {
            position: relative;
            display: block;
            cursor: pointer;
        }
    
        .modal-form-input {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding-left: 42px;
            cursor: pointer;
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                outline: none;
                border-color: var(--accent-color);
            }
        }
    
    
    
        .modal-form-icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            display: block;
            fill: #212121;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-form-input:focus+.modal-form-icon {
            fill: #2196F3;
        }
    
        .modal-form-message {
            width: 100%;
            height: 120px;
            resize: none;
            padding-top: 12px;
            padding-left: 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                outline: none;
                border-color: var(--accent-color);
            }
        }
    
    
        .modal-form-message::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
    
    
        .modal-form-check-wrapper {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 1.16;
        }
    
        .modal-form-own-check {
            border: 1px solid #303030;
            border-radius: 4px;
            margin-right: 7px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            color: #757575;
        }
    
        .modal-form-own-check-icon {
            display: none;
        }
    
    
        .modal-form-check:checked+.modal-form-own-check {
            background-color: var(--accent-color);
        }
    
        .modal-form-check:focus+.modal-form-own-check {
            outline: #2196F3;
        }
    
        .modal-form-check:checked+.modal-form-own-check .modal-form-own-check-icon {
            display: block;
            fill: #FFFFFF;
        }
    
        .modal-form-btn {
            padding: 10px 52px;
            margin-top: 30px;
            align-self: center;
    
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--white-text);
    
            background: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            outline: none;
            border: none;
    
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background-color: #188CE8;
            }
        }
    
        .modal-form-link {
            color: var(--accent-color);
        }
}

@media screen and (min-width: 768px) {
    .modal {
            position: absolute;
            width: 450px;
            height: 609px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
    
            background: #FFFFFF;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
    
            padding: 40px;
    
            transition-property: transform;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-caption {
    
            font-weight: 700;
            font-size: 20px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin-bottom: 12px;
        }
    
        .modal-form {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            cursor: pointer;
        }
    
    
        .modal-form-field-desc {
            display: block;
            font-size: 12px;
            color: #757575;
            margin-bottom: 4px;
        }
    
        .modal-form-input-wrapper {
            position: relative;
            display: block;
            cursor: pointer;
        }
    
        .modal-form-input {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding-left: 42px;
            cursor: pointer;
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                outline: none;
                border-color: var(--accent-color);
            }
        }
    
    
    
        .modal-form-icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            display: block;
            fill: #212121;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-form-input:focus+.modal-form-icon {
            fill: #2196F3;
        }
    
        .modal-form-message {
            width: 100%;
            height: 120px;
            resize: none;
            padding-top: 12px;
            padding-left: 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                outline: none;
                border-color: var(--accent-color);
            }
        }
    
    
        .modal-form-message::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
    
    
        .modal-form-check-wrapper {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 1.16;
        }
    
        .modal-form-own-check {
            border: 1px solid #303030;
            border-radius: 4px;
            margin-right: 7px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            color: #757575;
        }
    
        .modal-form-own-check-icon {
            display: none;
        }
    
    
        .modal-form-check:checked+.modal-form-own-check {
            background-color: var(--accent-color);
        }
    
        .modal-form-check:focus+.modal-form-own-check {
            outline: #2196F3;
        }
    
        .modal-form-check:checked+.modal-form-own-check .modal-form-own-check-icon {
            display: block;
            fill: #FFFFFF;
        }
    
        .modal-form-btn {
            padding: 10px 52px;
            margin-top: 30px;
            align-self: center;
    
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--white-text);
    
            background: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            outline: none;
            border: none;
    
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background-color: #188CE8;
            }
        }
    
        .modal-form-link {
            color: var(--accent-color);
        }

}

@media screen and (min-width: 1200px) {
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    

    padding: 40px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    cursor: pointer;
}


.modal-form-field-desc {
    display: block;
    font-size: 12px;
    color: #757575;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
    cursor: pointer;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:focus {
    outline: none;
    border-color: var(--accent-color);
    }
}



.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    fill: #212121;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #2196F3;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:focus {
    outline: none;
    border-color: var(--accent-color);
    }
}


.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
}


.modal-form-check-wrapper {
    display: flex;
    align-items: center;
}

.modal-form-own-check {
    border: 1px solid #303030;
    border-radius: 4px;
    margin-right: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-own-check-icon {
    display: none;
}


.modal-form-check:checked+.modal-form-own-check {
    background-color: var(--accent-color);
}

.modal-form-check:focus+.modal-form-own-check {
    outline: #2196F3;
}

.modal-form-check:checked+.modal-form-own-check .modal-form-own-check-icon {
    display: block;
    fill: #FFFFFF;
}

.modal-form-btn {
    padding: 10px 52px;
    margin-top: 30px;
    align-self: center;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
        background-color: #188CE8;
    }
}

.modal-form-link {
    color: var(--accent-color);
}
}