/*
.navigation {
    display: flex;
    align-items: center;
    column-gap: 93px;
}

.site-nav {
    display: flex;
    color: aqua;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    column-gap: 50px;
}


.nav-text {
    color: var(--primary-text-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.active {
    display: block;
    position: relative;
    color: var(--accent-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
            top: 52px;
            left: 0px;
        }
}
*/