@media screen and (max-width: 767px) {

    .footer-social-list-icon {
        text-align: center;
    }

    .footer-social-list-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .footer-social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);

        transition-property: background, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: #2196F3;
        }
    }

    .footer-social-icon {
        fill: #FFFFFF;
    }

    .social-list {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) 

{
.footer-social-list-icon {
    text-align: left;
    margin-left: 165px;
}

.footer-social-list-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition-property: background, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: #2196F3;
    }
}

.footer-social-icon {
    fill: #FFFFFF;
}

.social-list {
    margin-bottom: 30px;
}
}




@media screen and (min-width: 1200px) {

.footer-space {
        display: flex;
        align-items: baseline;
    }
       
    .footer-social-list-icon {
        // flex-basis: 270px;
        margin-left: 0;
    }
    
    .footer-social-list-title {
        text-align: left;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .footer-social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);

        transition-property: background, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: #2196F3;
        }
    }

    .footer-social-icon {
        fill: #FFFFFF;
    }

    .social-list {
        margin-bottom: 30px;
    }
}
   /* .footer-space {
            display: flex;
            align-items: baseline;
        }
    
        .footer-social-list-icon {
            display: block;
            align-items: center;
            margin-left: 70px;
        }
    
        .footer-social-list-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
    
        .footer-social-list-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
    
            transition-property: background, transform;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background: #2196F3;
            }
        }
    
        .footer-social-icon {
            fill: #FFFFFF;
        }
    } */
