:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-text: #FFFFFF;
    --white-fog: rgba(255, 255, 255, 0.6);
    --button-background: #F5F4FA;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}